<app-nav-bar></app-nav-bar>
<app-grilla></app-grilla>
<app-footer></app-footer>
<app-boton-agregar></app-boton-agregar>
<!-- Boton Modo oscuro -->
<div class="position-fixed bottom-1 end-1">


<div class="fixed-button d-flex align-items-start sticky-bottom toggle-oscuro buttonToggler">
    <div>
        <p class="mb-0 ms-2 fs-6 fw-light">Modo nocturno</p>
    </div>
    <div class="form-check form-switch d-flex d-flex align-items-start">
        <input class="form-check-input btn-primary m-1" type="checkbox" role="switch" id="flexSwitchCheckChecked" (click)="buttonToggle()">
    </div>
</div>

</div>
